.baseStyle{
    height:95%;
    width: 100%;
}
.baseStyle .word-cloud-wrap{
    display:inline;
    float:left;
    margin:1% 2%;
    width:400px;
    height:660px;
    padding:70px 30px 20px 30px;
    background: no-repeat;
    background-image: url(../images/word_cloud.png);
    background-size: 100% 100%;
}
.baseStyle .dynamic-sort-chart{
    display:inline;
    float:left;
    margin:1%;
    width:920px;
    height:660px;
    padding:80px 30px 20px 30px;
    background: no-repeat;
    background-image: url(../images/word_cloud.png);
    background-size: 100% 100%;
}